@media screen and (max-width:800px) {
    body{
        background-color: red;
    }
    .container {
        width:600px;
    }
    .titulo-container h1 {
        font-size:2rem;
    }
    .titulo-container h1::first-letter {
        font-size:3rem;
    }
    .container-compras th{
        font-size:.9rem;
    }
    .container-compras td{
        font-size:.7rem;
    }
}
@media screen and (max-width:600px) {
    body{
        background-color: green;
    }
    .container {
        width:400px;
    }
    .container-compras{
        width:400px;
        margin: 0 auto;
        margin-top:35px;
        overflow: hidden;
        overflow-x: hidden;
    }
    .container-compras th{
        padding-right:20px;
        font-size:1.5rem;
    }
    .container-compras td{
        color: #b97070;
        font-size:1.3rem;
        text-decoration: underline solid rgb(131, 87, 6);
    }
    tbody button{
        width:auto;
        font-size:0.7rem;
        padding-left:0px;
        margin-left:0px;
    }
    .titulo-container h1 {
        font-size:1.5rem;
    }
    .titulo-container h1::first-letter {
        font-size:2rem;
    }
    .container-compras th{
        font-size:.8rem;
    }
    .container-compras td{
        font-size:.6rem;
    }
}

@media screen and (max-width:400px) {
    .container {
        width:200px;
    }
    .container-compras{
        width:100%;
        margin: 0 auto;
        margin-top:35px;
    }
    .container-compras th{
        display: none;
    }
    .container-compras td{
        font-size:1rem;
        padding-right:10px;
    }
    tbody button{
        display: none;
    }
    .titulo-container h1 {
        font-size:1rem;
    }
    .titulo-container h1::first-letter {
        font-size:1rem;
    }
    .container-compras th{
        font-size:.7rem;
    }
    .container-compras td{
        font-size:.7rem;
    }
    .total{
        color: green!important;
        font-size:1.1rem !important;
    }
}
